/**
    공통
**/
*{
    box-sizing:border-box;
}
.center{
    display:flex;
    justify-content: center;
    align-items: center;
}
.container{
    width:100%;
    padding: auto 15px;
    margin: auto auto;
}
a{
    text-decoration:none;
    color:black;
}
header {
    position: fixed;
    top:0;
    left:0;
    right:0;
    height: 75px;
    padding: 1rem;
    color: black;
    background-color: #F9F8F7;
    font-weight: bold;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
nav{
    width:100%;
}
main{
    padding:1rem;
    height:100%;
}
body, html{
    height:200%;
}
.text-center{
    text-align:center!important;
}
.list-inline{
    padding-left:30px;
    list-style:none;
    display:flex;
    justify-content:center;
}
.list-inline-item{
    display:inline-block;
    padding-left:10px;
    padding-top:40px;
}
section{
    width: 100%;
    padding:50px 20px;
    flex: 1px;
    margin: 0 auto;
    box-sizing: border-box;
}
li{
    text-align:-webkit-match-parent;
}
dl, ol, ul{
    margin-top: 0;
    margin-bottom:1rem;
}
div{
    display: block;
}

/**
    nav style
**/
.mainNav{
    display:flex;
    justify-content: space-between;
}
.navbar{
    padding:0.5rem 1rem;

}

.page-section{
    padding:6rem 0;
}
.nav-underline {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #333;
    transition: all .3s ease-in-out;
  }

/**
  Juny
**/

.mainText{
    width:100%;
    height:300px;
    background-image: url(img/조현준3.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    padding:85px 0px;
    color: #fff;
}
.slide{
    font-weight:700;
    top: 0;
    left: 25px;
    animation: animatetop 2s;
    color:#fff;
    width:240px;
    position: relative;
    text-align: center;
}
.slide .textSlide{
    position: relative;
    list-style: none;
    width:100%;
}
.slide .textSlide .slide-txt{
    position: absolute;
    top:10px;
    left:60px;
    animation: animatetop 3s;
    -ms-animation: animatetop 3s;
}

.mainText p{
    text-align:right;
    font-weight:300;
    line-height:25px;
}
section#aboutMe .who{
    display: flex;
    justify-content: center;
}
section#aboutMe .who .me{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
    flex-wrap:wrap;
    padding:50px 0px;
}
section#aboutMe .who .me .meImg{
    padding: 20px 0px;
    box-sizing: border-box;
}
section#aboutMe .container .who .me .meText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    max-width:560px;
}
section#aboutMe .container .who .me .meText .meTextImg{
    text-align: center;
    width:100%;
    max-width:300px;
}



/**
skills
**/
.skills{
    width:100%;
    padding-top:20px;
}
.div-skill{
    display:inline-flex;
    flex-direction: column;
}
.list-inline-skills{
    padding-left:30px;
    list-style:none;
    display:inline;
}
.div-skill img{
    display:inline;
}
.div-skill p{
    margin-top: -1px;
    padding-left:15px;
    font-size:7px;
}

/**
    footer style
**/

footer.footer{
    background-color: white;
    padding-top:5rem;
    padding-bottom:5rem;
}
.text-muted{
    color:#6c757d!important;
}
.small{
    font-size:80%;
    font-weight:400;
}
footer.footer{
    background-color: black;
    padding-top:5rem;
    padding-bottom: 5rem;
    
}
footer.footer .list-inline{
    display:block;
    margin-block-start : 1em;
    margin-block-end: 1em;
    margin-inline-start: -20px;
    margin-inline-end: 0px;
}
footer.footer .social-link{
    display:block;
    height:3rem;
    width:3rem;
    line-height:4.3rem;
    font-size:1.5rem;
    background-color: white;
    transition: background-color 0.15s ease-in-out;
    box-shadow:0 3px 3px 0 rgb(0 0 0 / 10%);
    
}
.fix-font-black{
    color:black;
}
.rounded-circle{
    border-radius:50%! important;
}
footer.footer .list-inline .list-inline-item img{
    width: 40px;
    height: 40px;
}
.mr-3{
    margin-right: 1rem!important;
}
footer.footer a:hover{
    color:white;
}


/**

test
*/

@keyframes animatetop {
    0% {
      top: -30px;
      opacity: 0;
    }
    100% {
      top: 20px;
      opacity: 1;
    }
  }